<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="p-10 w-full bg-zinc-900 min-h-screen text-white">
      
      <div class="w-full flex gap-3 justify-between">
        <h1 class="text-4xl tracking-tighter mb-5">Profile Page</h1>
        <div class="flex gap-2">
        

          <div class="w-10 h-10 rounded-full ">
            <img class="w-full h-full rounded-full object-cover overflow-hidden" src="/images/uploads/<%= user.profilePic %>" alt="">
          </div>
          <h1 class="text-4xl "><%=user.username %></h1>

        </div>

      </div>
      <div class="">
        <div class="w-full flex flex-col items-center justify-center gap-6  mt-10">
            <% posts.forEach(function(post){%>
                <div class="w-[500px] flex flex-col justify-between rounded-xl border border-zinc-700 bg-zinc-800">
                    <div class="flex gap-4 p-4  border-b border-b-zinc-500">
                      <img
                        src="<%= post.postedBy.imageUrl%>"
                        class="w-16 h-16 rounded-full object-cover"
                        alt=""
                      />
                      <div class="flex flex-col">
                        <h1 class="text-2xl text-blue-500">@<%= post.postedBy.username %></h1>
                        <h1 class="text-gray-400 text-xs mt-2"><%=post.postedAt ? new Date(post.postedAt).toLocaleString() : "No date"%></h1>
                      </div>
                    </div>

                    <div class="p-4 my-20 text-center">
                        <h1><%= post.content %></h1>
                    </div>
                    <div class="flex p-3 text-sm text-blue-500 text-gray-400 justify-between">
                      <h1><%= post.likes.length%> Likes</h1>
                      <h1><%= post.comments.length%> Comments</h1>


                  </div>
                    <div class="flex p-4 text-blue-500 border-t border-t-zinc-500 justify-between">
                      <% const index = post.likes.findIndex(id => id.equals(user._id))%>
                        <a class="hover:underline" href="/like/<%=post._id%>"><%=index==-1?'Like':'Unlike'%></a>
                        <h1 class="hover:underline" > Comment</h1>
                        <h1 class="hover:underline" >Share</h1>

                    </div>
                  </div>
            <% }) %>
          
        </div>
      </div>
    </div>
  </body>
</html>
